<div class="flex flex-col overflow-hidden mt-16 container mx-auto">
<section>
    <h1>2021 WIP</h1>
<span>
    <ul>
        <li>Twitch channel - Join my while I learn and develop - Watch me walk through tutorials, contribute to open source projects, and reviewing job applications and the tools companies are using</li>
        <li>3D Modeling</li>
        <li>How can webassembly be using for more parts of the web while keeping accessibility and discoverability</li>
        <li>Build a website using 3D models and webassembly</li>
    </ul>
</span>
</section>
</div>
